<h1>Editing Alcohol</h1>

<%= render 'form', alcohol: @alcohol %>

<div class= "mt-5 d-flex justify-content-end ">
  <%= link_to 'Pokaż', @alcohol, class: "btn btn-outline-warning me-2" %> 
  <%= link_to 'Powrót', alcohols_path, class: "btn btn-outline-warning" %>
</div>
